<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab qui nihil eos, suscipit, aliquid error facilis dolor officiis id voluptatibus optio mollitia debitis molestias culpa nisi. Eius atque numquam tenetur.</p>

      <button onclick="previous()">previous page</button>
    

        <script type="text/javascript" src="../js/index.js"></script>
</body>
</html>